@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0,0,0, .7);
  border-radius: 10%;

  span {
    font-size: 18px;
    color: gray;

    &:active, &.active {
      color: red !important;
    }
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}

@mixin line($border: #c0c0c0){
  width: 0.25px;
  height: 25px;
  border: 0.5px solid $border;
  position: relative;
  margin: 0 5px;
}
