@import "variables";
@import "mixins";

.excel__formula {
  position: absolute;
  right: 0;
  left: 0;
  top: $header-height + $toolbar-height;
  height: $formula-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 0 15px;

  .formula-info {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: $border-color;
    min-width: $info-cell-width;
  }

  .formula-input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: #000000;
  }

  .line {
    @include line($border-color);
  }
}
