@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;

  & .input {
    margin: 0;
    padding: 2px 7px;
    color: #000;
    border: 1px solid transparent;
    height: 20px;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      border: 1px solid $border-color;
    }
    &:focus {
      border: 2px solid blue;
    }
  }

  .buttons_group {
    display: flex;
    justify-content: flex-end;

    .button {
      @include button(red)
    }
  }
}
